body {
    background: rgba(127, 163, 233, 0.459);
}


@media screen and (max-width: 992px) {
    #title-todo {
        font-size: 20px;
        color: #fff;
    }

    .text{
        margin-left: 5px;
         font-size: 15px;
         color: #fff;
     }
}

@media screen and (min-width: 992px) {
    #title-todo {
        font-size: 30px;
        color: #fff;
    }

    .text{
        margin-left: 5px;
         font-size: 20px;
         color: #fff;
     }

}


.flex-container {
    display: flex;
    padding: 10px;

}

.time{ 
    margin-left: 30px;
}

.todo-container {
    margin: auto;
    width: 70%;
}


.sub-container {
    background: #744AB0;
}

.timer-container {
    
    border-bottom: 5px solid #f44336;
    
}

.flexer {
    flex: 1;
}
.cross-icon {
    color: #fff;
    font-size: 25px;
}


.cross-icon:hover {
    color: rgb(195, 194, 194);
    font-size: 25px;
    cursor: pointer;
}
/* .clock-icon {
   margin-left: 15px;
} */

/* #title-todo {
    font-size: 25px;
    color: #fff;
} */

.description {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
}

/* .description:hover {
    color: rgb(195, 194, 194);
    font-size: 25px;
    cursor: pointer;
} */