.description-icon {
    color: #fff;
    font-size: 20px;
    margin-left: 18px;
}

.description-icon:hover {
    color: rgb(195, 194, 194);
    cursor: pointer;
}

.button-description {
    background: brown;
}


.button-description:hover {
    background: rgb(173, 62, 62);
}