.description-icon {
    color: #fff;
    font-size: 30px;
    margin-left: 20px;
}

.description-icon:hover {
    color: rgb(195, 194, 194);
    cursor: pointer;

}

.des {
    font-size: 20px;
    color: rgb(255, 255, 255);
}