.todoAdd-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}


.arrow-img {
    width: 100px;
    height: 111px;
}


@media screen and (max-width: 992px) {
    .arrow-img {
       display: none;
    }
}