@media screen and (max-width: 992px) {
    
    .todoAdd-btn {
        display: none
    }

    .button-add {
        position: absolute;
        right: 0;
        top: 0;
        margin: 18px;
        background: green;
    }

    .button-add:hover {
        background: rgb(63, 184, 63);
       
    }
}

@media screen and (min-width: 992px) {
    
    
    .button-add {
        display: none;

    }


}




.todoAdd-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
}


.arrow-img {
    width: 100px;
    height: 111px;
}


@media screen and (max-width: 992px) {
    .arrow-img {
       display: none;
    }
}